<header-title>Conectează-te la Burger Mania!</header-title>

<group-box title="Conectare" class="flex-center">
  <form (ngSubmit)="login()">
    <label for="username"><b>Nume utilizator:</b></label><br/>
    <input [(ngModel)]="user.username" name="username" class="formField"><br/>
    <label for="password"><b>Parola:</b></label><br/>
    <input type="password" [(ngModel)]="user.password" name="password" class="formField"/><br/><br/>
    <big-button label="Conectare"></big-button> <span> <a class="ml-1 color-dark" routerLink="/register"><small><i>Nu ai cont?</i></small></a></span>
    <p>{{messagel}}</p>
  </form>
</group-box>
