<cloud-title>Atunci când pofta de burgeri întâlnește creativitatea</cloud-title>

<img src="assets/BurgerPhoto.jpg" style="max-width:100%;float:right;margin-left: 20px;margin-bottom:20px; border-radius: 20px;" >

<p>Ne plac burgerii. Tot felul de burgeri. Și ne place să fim creativi atunci când îi preparăm.</p>

<p>La Burger Mania, vrem sa vă împarțim bucuria de a crea un burger cu tine, permițându-ți ție
   să iți prepari burgerul dintr-o paletă de de ingrediente proaspete și delicioase. În timp ce
   vă putem oferi propriile noaste proparate, adevărata distracție e atunci când iti creezi propria
   operă de artă.</p>

<p>Și chiar daca iubim burgerii și creativitatea, evităm să facem calcule complexe. De aceea, fiecare
   burger costă $4.99, indiferent de ingredientele alese.</p>

<p>Click <a href="/design">aici</a> pentru a-ți face propriul burger!</p>
